<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
th:replace = "~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section>
	<div class = "container mt-5 p-3">
				<div class = "card card-sh">
					<div class = "card-header text-center">
						<p class = "fs-4">Users</p>
						
						<th:block th:if="${session.successMessage}">
							<p class="text-success fw-bold text-center">[[${session.successMessage}]]</p>
							<th:block th:text = "${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
						
						<th:block th:if="${session.errorMessage}">
						<p class="text-danger fw-bold text-center">[[${session.errorMessage}]]</p>
							<th:block th:text = "${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
					</div>
					<div class = "card-body">
						<table class="table">
						  <thead>
						    <tr>
						      <th scope="col">SN</th>
						      <th scope="col">Profile</th>
						      <th scope="col">Name</th>
						      <th scope="col">Email</th>
						      <th scope="col">Mobile No</th>
						      <th scope="col">Address</th>
						      <th scope="col">Status</th>
						      <th scope="col">Action</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr th:each = "u,c:${users}">
						      <th scope="row">[[${c.count}]]</th>
						      <td><img th:src="@{'/img/profile_img/'+${u.profileImage}}" width = "100px" height = "80px"></td>
						      <td>[[${u.name}]]</td>
						      <td>[[${u.email}]]</td> 
						      <td>[[${u.mobileNumber}]]</td>
						       <td>[[${u.address +',' +u.city+ ',' +u.state +',' +u.pincode}]]</td>
						      <td>[[${u.isEnable}]]</td>
						      <td>
						      	<a th:href = "@{'/admin/updateStatus?status=true&id=' + ${u.id}}" class = "btn btn-sm btn-primary">&nbsp Active</a>
						     	<a th:href = "@{'/admin/updateStatus?status=false&id=' + ${u.id}}" class = "btn btn-sm btn-danger">&nbsp Inactive</a>
						      
						      </td>
						    </tr>
						    
						  </tbody>
						</table>
					</div>
				</div>
	</div>
</section>
</body>
</html>